---
layout: default
title: Daojing Zhai | Academic
picture: avater
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156423478-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156423478-1');
</script>

<div class="page-header">
<h3>Teaching Experience</h3>
</div>
FINC 3380: Introduction to Financial Data Analysis, CUHK Shenzhen &nbsp; Fall 2019 <br>
&nbsp; &nbsp; &bull; Student Evalution: 5.80/6.00 <b> <a href="pdfs/FIN3380_Report.pdf" target="_blank"> Report </a> </b>
<br>
FINC 3370: Research Method in Finance, CUHK Shenzhen, &nbsp; Spring 2020

<div class="page-header">
  <h3>Research Skills</h3>
</div>
<b>Programming:</b> Proficient in Python, MATLAB, C/C++, R; Knowledge in Julia, HTML <br>
<b>Tech Tools:</b> Stata, Mathematica, Linux (shell, Regex, Vim), Git, Latex <br>
<a href="https://github.com/daojingzhai">Previous projects on GitHub</a>

<div class="page-header">
  <h3>Honors & Awards</h3>
</div>
06/2019 &nbsp; Outstanding Graduate (Top 2%), &nbsp; Nanjing University <br>
10/2017 &nbsp; China National Scholarship (Top 2%), &nbsp; Ministry of Education of China <br>
06/2017 &nbsp; Research Grant for Undergraduate Student, &nbsp; National Innovation Program, China <br>
05/2017 &nbsp; Province Outstanding Student Leader Award, &nbsp; Jiangsu Province Government <br>
10/2017 &nbsp; Academic Excellence Scholarship (Top 2%), &nbsp; Nanjing University <br>
10/2016 &nbsp; Academic Excellence Scholarship (Top 2%), &nbsp; Nanjing University <br>

<div class="page-header">
  <h3>Course Structure</h3>
</div>


<h4>Mathematics and Computer Science Related</h4>
&bull; Calculus I/II &nbsp;	92/100 <br>
&bull; Linear Algebra  &nbsp;	81/100 ​<br>
&bull; Mathematical Statistics &nbsp;	92/100 <br>
&bull; Probability Theory and Stochastic Processes &nbsp;	91/100 <br>
&bull; Mathematical Physics  &nbsp;	93/100 <br>
&bull; Modern Applied Mathematics  &nbsp; 87/100 <br>
&bull; Basics of Programming &nbsp; 95/100​ <br>
&bull; Data Structures and Algorithm​ &nbsp; 91/100 <br>
&bull; Computational Physics &nbsp; 94/100 <br>
&bull; Introduction to Machine Learning &nbsp; 97/100 <br>
&bull; Introduction to Data Mining &nbsp; 92/100 <br>

<h4> Economics and Finance Related </h4>
&bull; Intermediate Microeconomics &nbsp; 94/100 <br>
&bull; Intermediate Macroeconomics &nbsp; 90/100 <br>
&bull; Financial Economics &nbsp; 93/100 <br>
&bull; Financial Mathematics &nbsp; 94/100 <br>
&bull; Financial Microstructure &nbsp; 98/100 <br>
&bull; Analysis of Financial Time Series &nbsp; 83/100 <br>

<h4> Physics Related</h4>
&bull; University Physics I/II  &nbsp; 96/100  <br>
&bull; Optics  &nbsp; 97/100 <br>
&bull; Nuclear Physics &nbsp; 91/100 <br>
&bull; Theoretical Mechanics  &nbsp; 92/100 <br>
&bull; Statistical Physics  &nbsp; 90/100   <br>
&bull; Quantum Mechanics (@Berkeley)  &nbsp; A  <br>
&bull; Electromagnetism and Optics (@Berkeley) &nbsp; A+  <br>
&bull; Solid State Physics (@Berkeley)  &nbsp; A <br>
&bull; Experiments in College Physics I/II/III  &nbsp; 95/100  <br>
&bull; Experiments in Modern Physics I/II  &nbsp; 93/100  <br>

<h4> General Art & Science Related </h4>
&bull; General Biology  &nbsp; 90/100  <br>
&bull; College Chemistry  &nbsp; 95/100  <br>
&bull; College Astronomy  &nbsp; 87/100  <br>
&bull; Fundamentals of Electronic Circuits &nbsp; 83/100  <br>
&bull; Analog Circuits Experiments &nbsp; 92/100  <br>
&bull; Proceedings of Interdisciplinary Studies  &nbsp; 97/100  <br>
&bull; Ideological Morality and Law  &nbsp; 96/100  <br>
​&bull; China Modern History Outline  &nbsp; 96/100  <br>

<br>
<p>
  <b>Full transcript available <a href="pdfs/Transcript_Daojing.pdf" target="_blank"> here </a> </b>
</p>


<!-- Currently my CV is available upon request. <br> -->
<!--My CV can be downloaded <a href =" " >here </a>.-->
<!--
{% include cv-list.html categories=page.before-pubs %}
<h4>Publications</h4>
{% include paper-list.html venue='journal' heading='Journals' %}
{% include paper-list.html venue='conference' heading='Conferences and Transactions' %}
{% include paper-list.html venue='workshop' heading='Workshops and Demonstrations' %}
{% include cv-list.html categories=page.after-pubs %} -->
